[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymeos_cffi = {path = "../pymeos_cffi"}
python-dateutil = "*"
parsec = "*"
spans = "*"
postgis = "*"
shapely = "<2.0.0"

[dev-packages]
psycopg2 = "*"
tqdm = "*"
sphinx = "*"
pytest = "*"

[requires]
python_version = "3.8"
