[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "pymeos-temp"
version = "0.0.1"
authors = [
    { name = "Víctor Diví", email = "vdiviloper@gmail.com" },
]
description = "PyMEOS wrapper for the MEOS C Library."
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
readme = "README.md"
license = { file = "LICENSE" }

requires-python = ">=3.7"
dependencies = [
    'pymeos-cffi',
    'python-dateutil',
    'spans',
    'postgis',
    'shapely',
    'cartopy < 0.20',
    'movingpandas'
]

[project.urls]
"Homepage" = "https://github.com/MobilityDB/PyMEOS"
"Bug Tracker" = "https://github.com/MobilityDB/PyMEOS/issues"